<h1 class="text-center mb-4 bg-black p-4 text-white fw-bolder">View All Student</h1>

<div class="container">
    <table class="table border">
      <tr class="border text-center bg-black text-white">
        <th>Count</th>
        <th>ID</th>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>Religion</th>
        <th>Zip Code</th>
        <th>Email</th>
        <th>Mother And Father Name</th>
        <th>Phone Number</th>
        <th></th>
        <th></th>
        
      </tr>
      <tr *ngFor="let student of studentList; index as i">
        <td>{{i+1}}</td>
        <td>{{"STD#000"+student.id}}</td>
        <td>{{student.firstName+" "+student.lastName}}</td>
        <td>{{student.dateOfBirth}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.address}}</td>
        <td>{{student.city}}</td>
        <td>{{student.religion}}</td>
        <td>{{student.zipCode}}</td>
        <td>{{student.email}}</td>
        <td>{{student.motherAndFatherName}}</td>
        <td>{{student.phoneNumber}}</td>
        <td><button class="btn btn-danger" (click)="deleteStudent(student)"><i class="bi bi-trash3-fill"></i></button></td>
        <td><button class="btn btn-primary" (click)="updateStudent(student)" data-bs-toggle="modal"
            data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
      </tr>
    </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ID:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.id" disabled>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.firstName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.lastName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Date Of Birth:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.dateOfBirth">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Gender:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.gender">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.address">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.city">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Religion:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.religion">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Zip Code:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.zipCode">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.email">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Mother And Father Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.motherAndFatherName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedStudent.phoneNumber">
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveUpdateEmployee()">Update</button>
        </div>
      </div>
    </div>
  </div>